<!-- When we are using Reactive Forms Module -->
<mat-card>    
    <mat-spinner *ngIf = "isLoading"></mat-spinner>
    <form [formGroup] = "form" (submit) = "onSavePost()" *ngIf = "!isLoading">
        <mat-form-field>
            <input matInput 
                   type = "text" 
                   formControlName = "title"
                   placeholder="Post title">       
            <mat-error *ngIf = "form.get('title').invalid">Please enter form title</mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput  
                      formControlName = "content"
                      placeholder="Post Content"></textarea>
            <mat-error *ngIf = "form.get('content').invalid">Please enter form content</mat-error>
        </mat-form-field>

        <div>
            <button mat-stroked-button type = "button" (click) = "filePicker.click()">Pick Image</button>
            <input type = "file" #filePicker (change) = "onImagePicked($event)">
        </div>
        <div class = "image-preview" *ngIf = "imagePreview !== '' && imagePreview && form.get('image').valid">
            <img [src] = "imagePreview" [alt] = "form.value.title">
        </div>
        <br>

        <button mat-raised-button
                color = "primary" 
                type = "submit">Save Post
        </button>
    </form>  
</mat-card>